@font-face {
    font-family: sketchfont;
    src: url("./fonts/SketchMeFreeVersion-qxyl.ttf");
  }
  @font-face {
    font-family: coretan;
    src: url("./fonts/Coretan-YBP2.ttf");
  }
  @font-face {
    font-family: marieeve;
    src: url("./fonts/CfMarieEveRegular-6L5o.ttf");
  }
  @font-face {
    font-family: pusekatt;
    src: url("./fonts/Dkpusekatt-B1zx.otf");
  }
  @font-face {
    font-family: aptos;
    src: url("./fonts/aptos.ttf");
  }
  @font-face {
    font-family: simsun;
    src: url("./fonts/SIMSUN.ttf");
  }
  @font-face {
    font-family: monterey;
    src: url("./fonts/MontereyFLF.ttf");
  }
  @font-face {
    font-family: avenue;
    src: url("./fonts/AvenueX-Regular.otf");
  }
  @font-face {
    font-family: labtop;
    src: url("./fonts/LABTSEC_.ttf");
  }
